{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">How to create orders?</h1>
    <hr class="my-4">
    <p class="lead">
        Step 1: Register an account (E-mail will be used as login ID)
        <br>
        <br>
        Step 2: After logging in, click "Create Order" at home page, or click "New Order" on naviation bar
        <br>
        <br>
        Step 2a: Check "SF Delivery?" button if you need us to send the products directly to your customer, and fill in corresponding information
        <br>
        <br>
        Step 2b: Fill in the products that you wish to order, click "+ Add more" button to add more item or "remove" button to remove the item
        <br>
        <br>

        Step 2c: Click "Submit" button to place the order
        <br>
        <br>
        Step 3: Click "Order History" to check the orders placed and update the details if necessary
    </p>
</div>
{% endblock content %}

