{% extends "layout.html" %}
{% block content %}
    {% for ordergroup in ordergroups.items %}

            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <div>
                            <div>
                                <h4>
                                    <b>Order #{{ ordergroup.id }}</b>
                                    
                                    <span style="font-size:10px;">{{ ordergroup.order_date.strftime('%Y-%m-%d %H:%M:%S') }}</span>

                                    {% if ordergroup.confirm_flag == False %}
                                        <span class="badge bg-warning text-dark" style="font-size:8px;">未確認</span>
                                    {% else %}
                                        <span class="badge bg-success" style="font-size:8px;">已確認</span>
                                    {% endif %}

                                    {% if ordergroup.paid_flag == False %}
                                        <span class="badge bg-warning text-dark" style="font-size:8px;">未付款</span>
                                    {% else %}
                                        <span class="badge bg-success" style="font-size:8px;">已付款</span>
                                    {% endif %}

                                    {% if ordergroup.fulfill_flag == False %}
                                        <span class="badge bg-warning text-dark" style="font-size:8px;">未完成</span>
                                    {% else %}
                                        <span class="badge bg-success" style="font-size:8px;">己完成</span>
                                    {% endif %}

                                    {% if ordergroup.send_on_behalf_flag == True and ordergroup.status != 'Cancelled' %}
                                        <span class="badge badge-danger float-right">代寄</span>
                                    {% elif ordergroup.status == 'Cancelled' %}
                                        <span class="badge badge-secondary float-right">已作廢</span>
                                    {% endif %}
                                </h4>
                            </div>
                        </div>
                        <div>
                            {% if ordergroup.confirm_flag == False and ordergroup.status != 'Cancelled' %}
                                <a class="btn btn-info btn-sm mt-2 mb-2" href="{{ url_for('orders.update_order_group', order_group_id=ordergroup.id) }}">Update</a>
                            {% endif %}
                        </div>
                        {% if ordergroup.send_on_behalf_flag == True %}
                        <div class="card mt-2 mb-2" style="width: 300px;">
                            <u>Receiver's Information</u>
                            Name: {{ ordergroup.customername }}
                            <br>
                            Phone No.: {{ ordergroup.customerphoneno }}
                            <br>
                            Address: {{ ordergroup.customeraddress }}  
                            <br>
                        </div>
                        <br>
                        {% endif %}                     
                    </div>
                    <table class="table table-sm">
                        <thead class="thead-light">
                            <tr>
                            <th class="col-1" scope="col">#</th>
                            <th class="col-7" scope="col">Product</th>
                            <th class="col-2" scope="col">Quantity</th>
                            <th class="col-2" scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% set count = [1] %}
                    {% for order in orders %}
                        {% if order.order_group_id == ordergroup.id and order != "Cancelled" %}
                            <tr>
                            <th scope="row">{{ count|length }}</th>
                            <td>{{ order.product }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>

                                {% if order.arrival_flag == False %}
                                    <span class="badge bg-warning text-dark">未到貨</span>
                                {% else %}
                                    <span class="badge bg-success">已到貨</span>
                                {% endif %}

                                {% if order.fulfill_flag == False %}
                                    <span class="badge bg-warning text-dark">未出貨</span>
                                {% else %}
                                    <span class="badge bg-success">已出貨</span>
                                {% endif %}

                            </td>
                            </tr>
                        {% set __ = count.append(1) %} 
                        {% endif %}
                    {% endfor %}
                        </tbody>
                    </table>

                    <div>
                        
                    </div>

            </article>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Order?
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form action="{{ url_for('orders.delete_order_group', order_group_id=ordergroup.id) }}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <br>
    {% endfor %}

    
    {% for page_num in ordergroups.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if orders.page == page_num%}
                <a class="btn btn-info mb-4" href="{{ url_for('main.order_history', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.order_history', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    
    {% endfor %}

{% endblock content %}

<!-- <a class="btn btn-info btn-sm mt-1 mb-1" href="{{ url_for('orders.update_order', order_id=order.id) }}">Update</a> -->